html, body {
  height: 100%;
  width: 100%;
}
body {
	padding: 0;
	margin: 0;
}
.pin-panel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.pantalla {
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}
/*
.__                       .___            
|  |__   ____ _____     __| _/___________ 
|  |  \_/ __ \\__  \   / __ |/ __ \_  __ \
|   Y  \  ___/ / __ \_/ /_/ \  ___/|  | \/
|___|  /\___  >____  /\____ |\___  >__|   
     \/     \/     \/      \/    \/     
*/
header {
	background-image: url('../backend/images/portada.jpg');
	text-align: center;
	color: white;
}

header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	margin: 0 10%;
	width: 80%;
	background-color: rgba(114, 189, 185, 0.65);
}

header .header-content .header-content-inner img {
	max-width: 100%;
	margin-bottom: 25px;
}

header .header-content .header-content-inner h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
}

header .header-content .header-content-inner hr {
	margin: 30px auto;
}

header .header-content .header-content-inner p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	header .header-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0 20%;
		padding: 25px;
		width: 60%;
	}
	header .header-content .header-content-inner {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	header .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*
                   ___.                 
  ____ _____ ___  _\_ |__ _____ _______ 
 /    \\__  \\  \/ /| __ \\__  \\_  __ \
|   |  \/ __ \\   / | \_\ \/ __ \|  | \/
|___|  (____  /\_/  |___  (____  /__|   
     \/     \/          \/     \/       
*/
.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
	color: #f05f40;
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus
	{
	color: #eb3812;
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	color: #222222;
}
.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus:hover {
	color: #f05f40;
}
.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus
	{
	color: #f05f40 !important;
	background-color: transparent;
}
.navbar-default .nav>li.active>a:hover, .navbar-default .nav>li.active>a:focus:hover
	{
	background-color: transparent;
}
@media ( min-width : 768px) {
	.navbar-default {
		background-color: rgba(114, 189, 185, 0.2);
		border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus
		{
		color: white;
	}
	.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: rgba(114, 189, 185, 0.8);
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #ffffff;
		font-size: 1em;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
		.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
		color: #222222;
	}
	.navbar-default.affix .nav>li>a:hover, .navbar-default.affix .nav>li>a:focus:hover
		{
		color: #f05f40;
	}
}

.slideno {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 100px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.6);
}

section article.caja {
	width: 70%;
	padding: 1.5em;
	position: relative;
	top: 15%;
	right: -15%;
	color: white;
	background-color: rgba(57, 35, 8, 0.7);
}
@media (min-width: 768px) {
	section article.caja {
		width: 45%;
		right: -50%;
	}
}

.caja button {
	background: none;
	border: none;
	box-shadow: none;
}
